extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Vladimir

        p.lead.text-light
          | Full Stack JavaScript Developer.

      
        .portfolio-bio
          p
            | I’m enjoying how coding is helping me stretch, strive, and grow in new ways and apply my systems-thinking 
            | mindset to solve problems, crush challenges, and continuously learn by doing.
            | I liked it so much, I decided to dive-in head first and pursue a career in 
            | full-stack development.I am a recent student at
            a(href='https://teamtreehouse.com' target='_blank').my-name Team Treehouse's 
            | Full-Stack Tech Degree program.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Node
          li Express
          li SQL
          li jQuery 
          li HTML
          li CSS
          li PHP
          li Git 
        h6 Contact Info

        ul
          li 079/347-959
          li vchagorovski@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/vladimir-chagorovski-774162157/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Chagorovski' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back 